{% extends "layout.html" %}

{% block menu %}
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
                <a href="/" class="navbar-brand">Flask Example</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarCollapse2">
                <div class="navbar-nav">
                {% if config['JSON'] %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/jsontest/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Template Examples
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/jsontest/bootstrap">Bootstrap</a>
                            
                            <a class="dropdown-item" href="/jsontest/jsontest">JSON</a>
                            
                        </div>
                    </li>
                {% endif %}
                        <a href="/register" class="nav-item nav-link">Register</a>
                        {% if 'permission' in session %}
                            {% if session['permission'] == 'admin' %}
                                <a href="/admin" class="nav-item nav-link">Admin</a>
                            {% endif %}
                        {% endif %}
                        <a href="/logoff" class="nav-item nav-link">Log Off</a>
                    </div>
                </div>
            </nav><br>
    {% endblock %}