/*button.btn { width:100%; } */
.mediumcolumn { width:250px; padding:10px; }
#jsonmessage { visibility: hidden;}
footer { margin-top:20px; }
.container { margin:20px; }
.alert { color:black; }
h1, h2 { margin-bottom:20px !important; }
.row { margin:8px; }
.form-control { margin:3px; margin-left:0px; }
.fitrow { width:50%; }
button { min-width:150px; }