{% extends "brickpilayout.html" %}

{% block styles %}
	<link href="https://cdn.jsdelivr.net/npm/jsxgraph@1.1.0/distrib/jsxgraph.css" />
{% endblock %}
{% block content %}
<div class="container">
	<h1>Javascript Turtle</h1>
	<p><a href="http://jsxgraph.org/wp/index.html">JSXgraph</a></p>
	<p>JSXGraph is a library of mathematical functions for drawing graphs etc. It includes a Javascript version of Python Turtle, which can be useful for drawing. The turtle script can be used to tell the turtle what to do.</p>
	<div id="box" class="jxgbox" style="width:500px; height:500px;"></div>
</div>
{% endblock %}
{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/jsxgraph@1.1.0/distrib/jsxgraphcore.js"></script>
	<script src="static/turtleexample.js"></script>
{% endblock %}