{% extends "brickpilayout.html" %}

{% block content %}
<div class="container">
	<h1>Dashboard</h1>
	<div class="row">
		<button id="loadbutton" type="button" class="btn btn-success" onclick="hideelement('loadbutton'); JSONrequest('brickpiload','POST',brickpiloadedhandler);">Load BrickPi</button>
	</div>
	<div id="stats" class="row"> <!-- recurring function - use json to fetch the voltage, currentcommand and current routine -->
    </div>
	<div id="dashboard">
		<div class="row text-center fitrow">
			<div class="col-4">
				<button type="button" class="btn btn-success" onclick="JSONrequest('brickpistart','POST')">Start</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-danger" onclick="JSONrequest('brickpistop','POST')">Stop</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-dark" onclick="hideelement('dashboard'); JSONrequest('brickpishutdown','POST', brickpishutdownhandler);">Shutdown Robot</button>
			</div>
		</div>
		<div class="row text-center fitrow">
			<div class="col-4">
				<button type="button" class="btn btn-success" onclick="JSONrequest('brickpileft','POST')">Turn Left</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-success" onclick="JSONrequest('brickpiright','POST')">Turn Right</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-danger" onclick="JSONrequest('brickpishoot','POST')">Fire</button>
			</div>	
		</div>
		<div class="row text-center fitrow">
			<div class="col-4">
				<button type="button" class="btn btn-success" onclick="JSONrequest('brickpirotatedegrees','POST')">Rotate Power Degrees</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-success" onclick="JSONrequest('brickpirotateheading','POST')">Rotate Power Heading</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-danger" onclick="JSONrequest('brickpimove','POST')">Move Time</button>
			</div>	
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
	{% if robotenabled %} <!-- cant equate because comes in as the word 'True'-->
		<script> robotenabled = true;</script>
	{% else %}
		<script> robotenabled = false;</script>
	{% endif %}
	<script src="static/brickpirequesthandlers.js"></script>
{% endblock %}