{% extends "layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="static/grovepi.css" />
{% endblock %}

{% block menu %}
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
                <a href="/" class="navbar-brand">Flask Example</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse2">
                    <div class="navbar-nav">
                        <div class="collapse navbar-collapse" id="navbarCollapse2">
                            <div class="navbar-nav">
                                <a href="/grovepi/grovepidashboard" class="nav-item nav-link">Dashboard</a>
                                <a href="/grovepi/grovepihistory" class="nav-item nav-link">History</a>
                                <a href="/grovepi/grovepichart" class="nav-item nav-link">Chart</a>
                            </div>
                        <a href="/logoff" class="nav-item nav-link">Log Off</a>
                    </div>
                </div>
            </nav><br>
    {% endblock %}