{% extends "layout.html" %}
{% block content %}
<h1>Administration</h1>
<!-- The data that is sent back from the server is a List of Python Dictionaries -->
{% if data %}
    <form method="POST" action="/admin">
    <table class="table">
    <tr>
        <!-- Get all the keys of the first python dictionary as column headings -->
        {% for key in data[0].keys() %}
            <th>{{key}}</th>
        {% endfor %}
            <th>delete</th>
    </tr>
        <!-- Print out each python dictionary into a html table row -->
    {% for row in data %}
    <tr>
        {% for column in row %}
        <td>{{column}}</td>
        {% endfor %}
        <td><input type="checkbox" name="delete" value="{{row['userid']}}"></td> <!-- Add checkbox for the userid -->
    </tr>
    {%endfor%}
    </table>
    <input type=submit value=Delete>
    </form>
{% endif %}
{% endblock %}