{% extends "layout.html" %}
{% block content %}
    <div class="container">
    	<div class="jumbotron well">
    		<h1>Welcome!</h1>
    	    <p>Welcome to Mr Nielsen's <b>Flask Example</b> website. This website is an example of how cool stuff like Flask, Python, Ajax, SQLite and Boostrap can be used to create a fantastic website full of awesomeness...But first you need to login.</p>
    		<p><a class="btn btn-primary btn-large" href="/admin">Admin</a></p>
    	</div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}