{% extends "layout.html" %}
{% block content %}
<div class="container">
	<h1>JSON Example</h1>
	<p>JSON is a method of sending complex data through text encoding and also avoiding a page refresh.</p>
<p>I have a created a helper function which can be used as follows: <b>JSONrequest</b>("/url", "POST",name_of_callback_function, {var1:"value1",var2:"value2"...})</p><p><i>The callback function receives a (result) object that contains response data.</i></p><p>A simpler call can be made: <b>JSONrequest</b>("/url", "POST") if you do not wish to send or receive data.</p>
<div class="container p-3 my-3 border">
	<h2>Hypotenuse Calculator example</h2>
	<p>A: <input type="number" id="sideA" value=0></p>
    <p>B: <input type="number" id="sideB" value=0></p>
	<p>HYPOTENUSE: <br/><input type="number" id="sideC" value="" locked=disabled> <button type="button" class="btn btn-success" onclick="findhypotenuse();">Calculate</button>
  </div>
  <div class="container p-3 my-3 border">
	<h2>Recurring function to get active users from server</h2>
	<ul id="activeuserlist">
	</ul>	  
  </div>
  <div class="container p-3 my-3 border">
	<h2>Using JSON to read from an API</h2>
	<p>Search a Superhero or Supervillian</p> 
	<p>Hero or Villian: <input type="text" id="heroname" value=""> <button type="button" class="btn btn-success" onclick="gethero();">Search</button></p>
	<div id="hero"></div> 
  </div>
</div>
{% endblock %}
{% block scripts %}
	<script src="/static/js/jsonexamples.js"></script>
{% endblock %}