<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/jsxgraph@1.1.0/distrib/jsxgraph.css" />
    <link rel="stylesheet" href="../static/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- AJAX -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> <!-- BOOTSTRAP -->
    <script src="/static/js/jsonrequesthandler.js"></script> <!-- JSON HELPER -->
    <script src="https://cdn.jsdelivr.net/npm/jsxgraph@1.1.0/distrib/jsxgraphcore.js"></script><!-- DRAWING -->
</head>

<body style="padding:30px;font-size:16px;">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-danger">
                <a href="/" class="navbar-brand">Flask Example</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse2">
                    <div class="navbar-nav">
                        <!--<a href="/bootstrap" class="nav-item nav-link">Bootstrap</a>
                        <a href="/turtle" class="nav-item nav-link">Turtle</a>
                        <a href="/json" class="nav-item nav-link">JSON</a>-->
                        <a href="/admin" class="nav-item nav-link">Admin</a>
                        <a href="/logoff" class="nav-item nav-link">Log Off</a>
                    </div>
                </div>
            </nav><br>
    {% block content %}{% endblock %} <!-- Container for Content -->
    <footer>
        <div id="jsonmessage" class="alert alert-info" style="display:none;"></div> <!-- json message returned -->
        {% if get_flashed_messages() %}
            <div id="flashmessage" class="alert alert-danger"> <!-- server message returned -->
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {%endfor%}
            </div>
        {% endif %}
    </footer>
    <a href="https://github.com/bradnielsen2981/flasktemplate">The full code can be found on Github</a>
    {% block scripts %}{% endblock %} <!-- Container for Scripts-->
</body>
</html>
